body{
background: #000000;
font-family: monospace;
}
h1{
    color: aliceblue;
    text-align: center;
}
h1{
    font-size: 40px;
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 28px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    color: aliceblue;
    text-align: center;
}
h4{
    font-size: 18px;
    color: aliceblue;
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 28px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    color: aliceblue;
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 28px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

